<form method="POST" action="/posts">
<label>Title: <input type="text" name="name"></label><br>
<label>Content: <input type="text" name="content"></label><br>
<br>
<input type="submit" name="" value="submit">
</form>


